header, main{
    max-width: 1320px;
    margin: auto;
} 
section{
    margin-top: 120px;
    border-radius: 16px;
}
            /* New year party start */
header{
    
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    border-radius: 16px;
}
             /* New year party end */

.content{
    padding: 170px 383px 340px 340px;
}
.con-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400; 
}

.con-full-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 90px;
}

.discount-offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-heading{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 45px;
    }

.discount-catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-content{
    margin: auto;
    Width: 805px;
}

/* Welcome party section start */

.midnight2{
    display: flex;
    padding-left: 126px;
    padding-top: 70px;
    padding-right:130px;
    gap: 95px;
}

.midnight{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    height:600px;
}
.image-div24{
    
}

.party-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.party-para{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.party-btn{
    color: #FFF;
    background:none;
    border: none;
    padding-left: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    }
                 /* Welcome party section End */


              /* Location and time/New Park Hotel start */

    .place{
        width: 1320px;
        height: 482px;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    }

    .place-red{
        color: #F00;
    }

    .place-container{
        padding-top: 100px;
        text-align: center;
        color: #070211;
        font-family: Inter;
        font-size: 38px;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
    }

    .place-btn{
        border-radius: 8px;
        background: #F00;
        border:none;
        gap: 10px;
        width: 160px;
        height: 50px;
        padding: 8px 16px;
    }
    .place-span-btn{
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }  
                /* Location and time/New Park Hotel End  */

                /* The Coming Soon Start */

    .comingsoon-content{
        width: 1320px;
        height: 482px;
        background: white;
        display:flex;
        justify-content: space-between;
    }

    .new{
        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
    }

    .comingsoon-heading{
        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-weight: 900;
     }

     .comingsoon-para{
        color: rgba(7, 2, 17, 0.737);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px; 
     }

    .circle-image{
        margin: 0px;
        padding: 0px 118px 0px 70px;
    }

    .circle-main-image{
        padding: 25px;
        object-fit: cover;
        border: #FF0000 solid 13px;
        border-radius: 50%;
    }

     .twentyfour-heading{
        color: #F00;
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
     }

     .twentyfour-para{
        color: rgba(7, 2, 17, 0.781);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
     }
     .image-2024{
        width: 140px;
        height: 140px;        
     }       
                     /* The Coming Soon End */


                /* Holidays Sale Section Start */

.holyday-content-one{
    text-align: center;
}

    .holyday-text{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-span{
    color: #F00;
}
.holiday-head{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-para{
    width: 1068px;
    margin: auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

 .holidays-images{
    position: relative;
    margin-top: 56px;
    height:650px;
    margin-right: 140px;
}

.ractiangle-box{
    position: absolute;
    top: 430px;
    z-index: -1;
}

.thegirl{
    position: absolute;
    bottom: 215px;
    left: 890px;
}

.discount{
    position: absolute;
    top: 86px;
    left: 715px;
    z-index: 1;
} 
.box{
    
}
                /* Holidays Sale Section End */

               /* Our Awesome Portfolio start */

.portfolio-heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
}

.portfolio-desc{
    color: rgba(7, 2, 17, 0.817);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px; 
}


.portfolio-image{
    display: flex;
}

.picpng{
    padding: 12px;
}
.picpng:hover{
    opacity:80%;
}

                  /* Our Awesome Portfolio End */

            /* Subscribe Newsletter Section start */

.newsletter-background{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;

}

.mailbox{
   
}
.newsletter-head{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 700;
    padding-top:0;
    padding-bottom: 0;
    }

.newsletter-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    padding-top: 0;
}

.Subscribe-form{
    
}

.subscrib-input{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 25px 245px 25px 25px;
    width: 450px;
    height: 72px;
    color: rgba(3, 0, 8, 0.868);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    }

.subscrib-btn{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 210px;
    height: 72px;
    background: #F00;
}

.subscrib-btn-span{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    }

::placeholder{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
                /* Subscribe Newsletter Section */

                  /* Footer section start */

footer{
    margin: auto;
    max-width: 1600px;
    height: 609px;
    background: #070211;
}

.footer{
    margin: auto;
}

.address{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.address1{
    padding-left: 200px;
    padding-top: 120px;
    line-height: 40px;
}

.address2{
    padding-right: 200px;
    padding-top: 120px;
    line-height: 40px;
    
}

.address2 > ul{
    list-style: none;
}

hr{
    width: 1320px;
    border: 1px solid rgba(29, 29, 61, 0.566);
    margin-bottom: 35px;
    margin-top:35px;
}

.social-image{
    text-align: center;
}

.address-buttom{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.address3{
    padding-left:200px;
    line-height: 45px;
}

.address4{
    padding-right: 200px;
    line-height: 45px;
}        
      
                          /* Footer section  */



                          /* End */

